/*RESETEAMOS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-blue: #044E5F;
    --color-blue-sky: #009EC0;
    --color-dark-light: #333333;
    --color-rousel:#DE5890;
    --color-green:#08AC18;
    --color-blue-dark:#100E6F;
    --color-white:#fff;

}


        body{
            transition: .5s ease all;
            background: #009dc039;

        }
        body.dark{
            transition: .5s ease all;
            background-color: #181818;
        } 
        body.dark header{
            background-color: var(--color-dark-light);
            border-bottom: 3px var(--color-white) solid;
        }
        body.dark .navLinks a{
            color: var(--color-white);
        }
        body.dark .navTheme a {
            color: var(--color-white);
        }
        body.dark .redes{
            background-color: var(--color-dark-light);
        }

        body.dark .text h1{
            color: var(--color-white);
        }

        body.dark .text h2{
            color: var(--color-white);
        }
        body.dark .text h3{
            color: var(--color-white);
        }
        
        body.dark .text h4{
            color: var(--color-white);
        }
   
   
   
    
    
   


